*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%; /*1 rem = 10px: 10px/16px = 62.5%*/
}

body{
    height: 100%;
    font-size: 2rem;
    background-color: rgb(149, 185, 253);
    color: #fff;
}


.heading{
    text-align: center;
    margin-top: 5rem;
    font-size: 5rem;
}

.lives{
    position: absolute;
    top: 4rem;
    right: 10rem;
}

.guess {
    margin: 5rem;
    text-align: center;
}

.guess p{
    text-align: center;
    font-size: 5rem;
    
}

.keyboard {
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    margin: 0 auto;  
    justify-content: center;
}

.btn{
    display: flex;
    justify-content: center;
    background-color: rgb(105, 209, 223);
    width: 2rem;
    font-size: 2rem;
    padding: 2rem 3rem;
    margin: 1.5rem 1rem;
    color: #fff;
    outline: none;
    border: 1px solid #fff;
    box-shadow: 0 0 5px rgba(0,0,0, .5);
    text-transform: uppercase;
}


.replay {
    display: flex;
    width: 25%;
    margin: 3rem auto;
    justify-content: space-evenly;
    
}

.replay button {
    padding: 1.5rem;
    font-size: 1.5rem;
    outline: none;
    border-radius: 50px;
    width: 12rem;
    border: 1px solid rgb(105, 209, 223);
    box-shadow: 0 0 3px rgba(0,0,0, .5);
    transition: all .3s;
}

.replay button:hover {
    background: rgb(105, 209, 223);
}


/* Class List Add on */
.background {
    background-color: salmon !important; 
}


/* MEDIA QUERIES */
@media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } 
    .keyboard {
        width: 100%;
    }
    .lives {
        position: initial;
        padding-top: 2rem;
        display: flex;
        justify-content: center;
        }
    .lives span {
        padding-left: 1rem;
        }
    }
@media only screen and (max-width: 37.5em) {
    html {
        font-size: 40%;
    }
    .guess {
        margin: 0;
    }
    .guess p {
        padding-bottom: 2rem;
    }
    #hangmanImg {
        height: 40rem;
    }
    .replay {
        width: 50%;
    }
}